.bg-primary, .btn-primary{
    background: rgb(1, 57, 85)!important;
}
.btn-outline-primary{
    border: rgb(1, 57, 85)!important;
   color: rgb(1, 57, 85)!important;
}
.text-primary{
  color:rgb(1, 57, 85)!important;
}
a{
  text-decoration: none;
  color: rgb(19, 19, 21);
}

.form-sec{
  width: 60%;
  
} 
 input{
  width: 50%;
  height:40px;
}
textarea{
  width: 50%;
  height: 100px;
} 
.post .img{
  width: 100%;
  height: 100%;
  background: url("../images/afridish-3.jpg")no-repeat center center/cover;
}
.first{
    width: 100%;
    height: 100vh;
} 

.logo{
  height: 80px;
  width: 80px;
  background: url("../images/r-logo.png")no-repeat center center/cover;
}
.logo2{
  height: 80px;
  width: 80px;
  background: url("../images/r-logo.png")no-repeat center center/cover;
}
.pix1{
  width: 100%;
  height: 40%;
  background: url("../images/afridish-3.jpg")no-repeat center center/cover;
}

.swiper-wrapper{
    height: 100px;
}
.swiper {
    width: 100%;
    height: 300px;
    background: url("../images/food.jpg")no-repeat center center/cover;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 100% !important;
    background: url("../images/afridish-1.jpg") no-repeat center center/cover;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .dish-2{
    background: url("../images/afridish-2.jfif")no-repeat center center/cover;
  }
  .dish-3{
    background: url("../images/afridish-3.jpg")no-repeat center center/cover;
  }
  .dish-4{
    background: url("../images/afridish-4.jpg")no-repeat center center/cover;
  }
  .dish-5{
    background: url("../images/afridish-5.jpg")no-repeat center center/cover;
  }
  .dish-6{
    background: url("../images/afridish-6.jpg")no-repeat center center/cover;
  }
  .dish-6{
    background: url("../images/afridish-3.jpg")no-repeat center center/cover;
  }
  .dish-6{
    background: url("../images/afridish-5.jpg")no-repeat center center/cover;
  }
  .dish-6{
    background: url("../images/afridish-2.jfif")no-repeat center center/cover;
  }